/* You can add global styles to this file, and also import other style files */

html {
    height: 300vh;
    font-family: system-ui;
}

html,
body {
    margin: 0;
    padding: 0;
}

img {
    display: grid;
    width: 100%;
    height: auto;
}